.p-purple{
    background-color: rgb(98, 57, 139);
}

body{
    background-color: rgb(56, 50, 235);
}

#main{
    flex: ;
    width: 100%;
    position: absolute;
    height: 45%;
}

#timer{
    background-color: whitesmoke;
    position: absolute;
    bottom: 20%;
    top: 52%;
}

#footer{
    position: absolute;
    bottom: 0%;
}